<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="ВитринаКита" file="src/Классы/ВитринаКита.os"/>
    <class name="НаборКомпонентов" file="src/Классы/НаборКомпонентов.os"/>
    <class name="ОбразцыВвода" file="src/Классы/витрина/ОбразцыВвода.os"/>
    <class name="ОбразцыПоказа" file="src/Классы/витрина/ОбразцыПоказа.os"/>
    <class name="ОбразцыСтраницы" file="src/Классы/витрина/ОбразцыСтраницы.os"/>
    <class name="ОбразцыХолста" file="src/Классы/витрина/ОбразцыХолста.os"/>
    <class name="СборкаОбразцов" file="src/Классы/витрина/СборкаОбразцов.os"/>
    <class name="ЗначенияФормы" file="src/Классы/каркас/ЗначенияФормы.os"/>
    <class name="КаркасСтраницы" file="src/Классы/каркас/КаркасСтраницы.os"/>
    <class name="ОбрамлениеИнсталляцииПоУмолчанию" file="src/Классы/каркас/ОбрамлениеИнсталляцииПоУмолчанию.os"/>
    <class name="ОбъявлениеФормы" file="src/Классы/каркас/ОбъявлениеФормы.os"/>
    <class name="ПечатьФормы" file="src/Классы/каркас/ПечатьФормы.os"/>
    <class name="ПроверкаПоля" file="src/Классы/каркас/ПроверкаПоля.os"/>
    <class name="РендерерНастроек" file="src/Классы/каркас/РендерерНастроек.os"/>
    <class name="Формы" file="src/Классы/каркас/Формы.os"/>
    <class name="БлокКоманды" file="src/Классы/компоненты/БлокКоманды.os"/>
    <class name="ДеревоРазделов" file="src/Классы/компоненты/ДеревоРазделов.os"/>
    <class name="ЗаголовокСтраницы" file="src/Классы/компоненты/ЗаголовокСтраницы.os"/>
    <class name="Иконка" file="src/Классы/компоненты/Иконка.os"/>
    <class name="Карточка" file="src/Классы/компоненты/Карточка.os"/>
    <class name="Кнопка" file="src/Классы/компоненты/Кнопка.os"/>
    <class name="Меню" file="src/Классы/компоненты/Меню.os"/>
    <class name="ОпаснаяЗона" file="src/Классы/компоненты/ОпаснаяЗона.os"/>
    <class name="Пагинация" file="src/Классы/компоненты/Пагинация.os"/>
    <class name="ПанельСохранения" file="src/Классы/компоненты/ПанельСохранения.os"/>
    <class name="Плашка" file="src/Классы/компоненты/Плашка.os"/>
    <class name="Плитка" file="src/Классы/компоненты/Плитка.os"/>
    <class name="ПолеИзКонфига" file="src/Классы/компоненты/ПолеИзКонфига.os"/>
    <class name="ПолеФормы" file="src/Классы/компоненты/ПолеФормы.os"/>
    <class name="ПолосаЗаполнения" file="src/Классы/компоненты/ПолосаЗаполнения.os"/>
    <class name="Проводник" file="src/Классы/компоненты/Проводник.os"/>
    <class name="ПустоеСостояние" file="src/Классы/компоненты/ПустоеСостояние.os"/>
    <class name="Сетка" file="src/Классы/компоненты/Сетка.os"/>
    <class name="СкрытоеПоле" file="src/Классы/компоненты/СкрытоеПоле.os"/>
    <class name="СтраницаОшибки" file="src/Классы/компоненты/СтраницаОшибки.os"/>
    <class name="Таблица" file="src/Классы/компоненты/Таблица.os"/>
    <class name="Табы" file="src/Классы/компоненты/Табы.os"/>
    <class name="Тост" file="src/Классы/компоненты/Тост.os"/>
    <class name="Тумблер" file="src/Классы/компоненты/Тумблер.os"/>
    <class name="ФормаОтбора" file="src/Классы/компоненты/ФормаОтбора.os"/>
    <class name="ШапкаОбъекта" file="src/Классы/компоненты/ШапкаОбъекта.os"/>
    <class name="НаборИконок" file="src/Классы/основа/НаборИконок.os"/>
    <class name="РядМеты" file="src/Классы/компоненты/РядМеты.os"/>
    <class name="ЧтениеГлифа" file="src/Классы/основа/ЧтениеГлифа.os"/>
    <class name="ЧтениеМодели" file="src/Классы/основа/ЧтениеМодели.os"/>
    <class name="ЭкранированиеHTML" file="src/Классы/основа/ЭкранированиеHTML.os"/>
    <class name="АктивыСтатики" file="src/Классы/оформление/АктивыСтатики.os"/>
    <class name="ВыборОформления" file="src/Классы/оформление/ВыборОформления.os"/>
    <class name="ОтпечаткиСтатики" file="src/Классы/оформление/ОтпечаткиСтатики.os"/>
    <class name="ОформлениеИнсталляцииПоУмолчанию" file="src/Классы/оформление/ОформлениеИнсталляцииПоУмолчанию.os"/>
    <class name="РаскладкаСтатики" file="src/Классы/оформление/РаскладкаСтатики.os"/>
    <class name="СтатикаИнсталляцииПоУмолчанию" file="src/Классы/оформление/СтатикаИнсталляцииПоУмолчанию.os"/>
    <class name="ТокеныТемы" file="src/Классы/оформление/ТокеныТемы.os"/>
    <class name="СловарьИнтерфейсаПоУмолчанию" file="src/Классы/тексты/СловарьИнтерфейсаПоУмолчанию.os"/>
    <class name="ТекстыИнтерфейса" file="src/Классы/тексты/ТекстыИнтерфейса.os"/>
    <class name="Кит" file="src/Классы/холст/Кит.os"/>
    <class name="РазметкаЭлементов" file="src/Классы/холст/РазметкаЭлементов.os"/>
    <class name="ЭлементЭкрана" file="src/Классы/холст/ЭлементЭкрана.os"/>
</package-def>